body {
    width: 960px;
    position: fixed;
    padding-right: 50%;
    padding-right: 50%;
    

}
.header-about, .header-contact, .header-portfolio {

    background: #ffffff;
    border: solid 2px #cccccc;
    float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
}

#beach-picture {
    float: left;
    border-right: solid 10px #ffffff;
}
.about-me {
    background: #ffffff;
    float: left;
    border: solid 2px #cccccc;
    width: 100%;
    margin-bottom: 60px;
    
}

p {
   font-size: 20px; 
}





footer {
    clear: both;
    text-align: center;
    border: solid 2px #4aaaa5;
    width: 100%;
}